.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  display: flex;
  background-image: url("https://i2.wp.com/www.craftycreations.net/wp-content/uploads/2020/02/Mossy-Stone-Brick-Block.png?fit=500%2C500&ssl=1");
  background-repeat: repeat;
  background-size: 100px;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: blueviolet;
  flex-direction: row;
  justify-content: space-between;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shopKeep {
  margin-top: 50px;
  height: 200px;
  width: 100px;
}

.logo {
  height: 100%;
  width: auto;
  margin-right: 20px;
}

.bookContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book {
  height: 100px;
  width: 80px;
}

.table {
  height: 200px;
  width: 800px;
}

.maindiv {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  background-color: white;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
  height: 400px;
  justify-content: space-evenly;
  text-align: center;
}

.productList {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  column-count: 2;
  padding: 30px;
  justify-content: space-evenly;
  text-align: left;
  width: 70%;
  height: auto;
  position: absolute;
  color: darkslateblue;
  background-image: url("./openbook.jpg");
  background-size: cover;
  border-radius: 8px;
}

.productCard {
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
  color: darkslateblue;
  border: 3px solid blueviolet;
}

.pCardImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 75%;
  justify-content: center;
}

.productImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  justify-content: center;
}
