.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("https://i.ibb.co/fxqSnf2/store-Front.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  position: sticky;
  background-position: center;
  background-size: cover;
}

#root {
  display: flex;
  background-image: url("https://i2.wp.com/www.craftycreations.net/wp-content/uploads/2020/02/Mossy-Stone-Brick-Block.png?fit=500%2C500&ssl=1");
  background-repeat: repeat;
  background-size: 100px;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
  font-weight: bold;
}

.nav {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: blueviolet;
  flex-direction: row;
  justify-content: space-between;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 30%;
  width: 70%;
}

.shopKeep {
  margin-top: 50px;
  height: 200px;
  width: 100px;
  opacity: 0.7;
  visibility: hidden;
}

.logo {
  height: 100%;
  width: auto;
  margin-right: 20px;
}

.bookContainer {
  display: flex;
  flex-direction: row;
}

.book {
  height: 250px;
  width: 170px;
  padding: 20px;
}

.table {
  height: 200px;
  width: 800px;
}

.maindiv {
  width: 100%;
  height: 100%;
}

.listDiv {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  background-color: white;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
  height: 400px;
  justify-content: space-evenly;
  text-align: center;
}

.productList {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: 100px;
  column-count: 2;
  padding: 50px;
  align-items: flex-start;
  width: 600px;
  position: absolute;
  color: darkslateblue;
  background-image: url("https://i.ibb.co/2cf475s/openbook.jpg");
  background-size: cover;
  border-radius: 8px;
  justify-content: center;
}

.productCard {
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
  color: darkslateblue;
  border: 3px solid blueviolet;
}

.pCardImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 75%;
  justify-content: center;
}

.productImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  justify-content: center;
}

.pagination {
  display: inline-block;
  list-style: none;
}

.pagenum {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.cart {
  background-image: url("https://wallpaperaccess.com/full/628500.jpg");
  background-size: cover;
  text-align: center;
  padding: 20px;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100vh;
  color: whitesmoke;
}
.checkout {
  background-image: url("https://lol-stats.net/uploads/X0geMjIXBEZOVO5U7CvrqJW3shfN1NaI57cmgyxZ.jpeg");
  background-size: cover;
  text-align: center;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100%;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}
.card {
  list-style-type: none;
  background-color: gray;
  align-items: center;
  margin-bottom: 10px;
  border: black solid 1px;
  border-radius: 15px;
}
.homeIcon {
  position: absolute;
  right: 100px;
  bottom: 40px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.9;
}
.loadingDiv {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorDiv {
  background-color: black;
  color: red;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 10%;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.7;
}

.backButton {
  background-color: white;
  border-radius: 50%;
}
.ghost {
  display: none;
}
.adminPage {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: scroll;
  margin: 0px 0px 0px 0px;
  text-align: center;
  position: absolute;
  flex-grow: 1;
  min-width: 100vw;
}
.adminNav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  max-width: 15vw;
}
.AdminNavContainer {
  margin-left: 0;
}
.adminTable {
  height: 80vh;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 70vw;
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.editForm {
  display: flex;
  height: 100vh;
  max-width: 15vw;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}
.editFormChild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
}
.adminTableChild {
  height: 100vh;
  justify-content: center;
  width: 70vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
  justify-content: flex-start;
}
.adminImage {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 0;
}
.selectBar {
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
}
