.home {
    display : flex;
    flex-direction: column;
    align-items: center;
}

#root {
    display: flex;
    background-image: url('./Mossy_Brick.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    height : 150px;
    width : 200%;
    background-color: blueviolet;
}

.shopKeep {
    margin-top : 50px;
    height : 200px;
    width : 100px;
}

.logo {
    height : 100%;
    width : auto;
}

.bookContainer {
    display : flex;
    flex-direction: row;
    align-items: center;
}

.book {
    height : 100px;
    width : 80px;
}

.table {
    height: 200px;
    width : 800px;
}

.div {
    width : 100%;
    height : 100%;
}